diff hvec.out hvec.out.sample
diff lbub.out lbub.out.sample
diff lbub2.out lbub2.out.sample
diff pack.out pack.out.sample
diff type_size.out type_size.out.sample
diff zero1.out zero1.out.sample
diff zero5.out zero5.out.sample
