diff bsendO.out bsendO.out.sample
diff getcountO.out getcountO.out.sample
diff isendO.out isendO.out.sample
diff rsendO.out rsendO.out.sample
diff rsend2O.out rsend2O.out.sample
diff sendrecvO.out sendrecvO.out.sample
diff ssendO.out ssendO.out.sample
diff startO.out startO.out.sample
diff test1O.out test1O.out.sample
diff test2O.out test2O.out.sample
diff test3O.out test3O.out.sample
diff testallO.out testallO.out.sample
diff testanyO.out testanyO.out.sample
diff testsomeO.out testsomeO.out.sample
diff waitallO.out waitallO.out.sample
diff waitanyO.out waitanyO.out.sample
diff waitsomeO.out waitsomeO.out.sample
